<footer class="footer container">
  <hr />
  <div class="social-links">
    <i class="fab fa-stack-overflow fa-lg"></i>
    <i class="fab fa-github fa-lg"></i>
    <i class="fab fa-kaggle fa-lg"></i>
    <i class="fab fa-linkedin fa-lg"></i>
  </div>

  <div class="footer-links">
    <a href="{{ site.anon-form }}" target="_blank">
      <span style="font-size: medium">Anonymous Form</span>
    </a>
    <span style="font-size: medium">&middot;</span>
    <a href="{{ site.repo }}" target="_blank">
      <span style="font-size: medium">GitHub Repository</span>
    </a>
  </div>
</footer>
