img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 24px;
  height: 24px;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

a {
  display: inline-flex;
  color: #0077cc;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.cus-li {
  list-style-type: none;
  .earth {
    display: inline-flex;
    font-size: 7px;
    margin: -2px 7px auto -20px;
    vertical-align: middle;
  }
}
